*{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.show {
  width: 800px;
  height: 300px;
  margin: 100px auto;
  position: relative;
  background-color: black;
  color: #fff;
}
.time {
  display: flex;
  flex: 1;
  font-size: 160px;
  text-align: center;
  line-height: 300px;
  padding: 0 20px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.beforeTime {
  z-index: 100;
}
.time li:nth-child(2n) {
  flex: 1;
}
.time li:nth-child(2n+1) {
  flex: 4;
  background-color: #3b3d3b;
  position: relative;
  height: 200px;
  line-height: 200px;
  margin: auto 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 3px white;
}
.time li:nth-child(2n+1) .upBox,
.time li:nth-child(2n+1) .downBox {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}
.time li:nth-child(2n+1) .upBox {
  top: 0;
  bottom: 50%;
  box-sizing: border-box;
  border-bottom: solid 3px #3b3d3b;
  background-color: #3b3d3b;
  transform-origin: bottom;
}
.time li:nth-child(2n+1) .downBox {
  top: 50%;
  bottom: 0;
  line-height: 0;
  box-sizing: border-box;
  background-color: #3b3d3b;
  overflow: hidden;
  transform-origin: top;
}
.change{
  border-bottom: 2px solid white;
}

